.portfolioUpload-container * {
    box-sizing: border-box;
}

.portfolioUpload-container {
    position: relative;
    box-sizing: border-box;
    width: 1290px;
    height: 579px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 74px 80px 30px;
}

.portfolioUpload {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.portfolioUpload-img {
    width: 525px;
    height: 400px;
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolioUpload-thumbnail {
    width: 350px;
    height: 220px;
    background-color: #48749829;
    border: 1px solid #48749870;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolioUpload-thumbnail button {
    outline: none;
    width: 80px;
    height: 80px;
    color: #ffffff;
    font: normal normal normal 30px/85px AppleSDGothicNeoM00;
    border: none;
    border-radius: 999px;
    background-color: #487498;
    cursor: pointer;
}

.portfolioUpload-thumbnail p {
    margin: 0;
    margin-bottom: 10px;
    width: 192px;
    font: normal normal normal 15px/21px AppleSDGothicNeoM00;
    text-align: center;
}

.portfolioUpload-options {
    width: 550px;
}

.portfolioUpload-options-header {
    margin: 0;
    margin-bottom: 15px;
    font: normal normal normal 20px/21px AppleSDGothicNeoM00;
}

.portfolioUpload-options-header span {
    color: #487498;
    margin-left: 5px;
    font: normal normal normal 15px/15px AppleSDGothicNeoM00;
}

.portfolioUpload-options input[type="text"],
.portfolioUpload-options textarea {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    outline: none;
    border: 1px solid #707070;
    border-radius: 5px;
    margin-bottom: 30px;
    font: normal normal normal 15px/21px AppleSDGothicNeoM00;
}

.portfolioUpload-options textarea {
    height: 120px;
    padding: 11px 15px;
    resize: none;
}

.portfolioUpload-btn {
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    width: 190px;
    height: 45px;
    background: #22334D;
    box-shadow: 0px 2px 5px #00000029;
    border-radius: 999px;
    padding: 0;
    display: block;
}

.portfolioUpload-closebtn {
    position: absolute;
    top: -50px;
    right: -45px;
    color: #DDDDDD;
    background-color: transparent;
    font-size: 52px;
}