.home-container {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.slide-box {
    width: 100%;
    height: 450px;
    background: #487498 0% 0% no-repeat padding-box;
    opacity: 1;
}
.homeTop-button,
.portfolio-button-wrap,
.category-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.category-button-wrap {
    width: 1200px;
    flex-wrap: wrap;
}

.home-button {
    width: 190px;
    height: 45px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000029;
    border: 1px solid #22334d;
    font: normal normal normal 15px/45px AppleSDGothicNeoB00;
    color: #22334d;
    border-radius: 25px;
    margin-right: 40px;
}
.home-button:hover {
    background: #22334d 0% 0% no-repeat padding-box;
    border-radius: 40px;
    color: #ffffff;
}
.corporate {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.announcement {
    width: 300px;
    height: 200px;
    margin-right: 30px;
    background: #f3f3f3 0% 0% no-repeat padding-box;
    border-radius: 25px;
}

.about-box {
    margin: 0 auto;
    margin-top: 113px;
    width: 70%;
    opacity: 1;
    text-align: left;
    line-height: 1;
    display: flex;
    color: #707070;
}

.about-box > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.about-yellow-box {
    align-items: right;
    width: 550px;
    height: 353px;
    background-color: #f3f3f3;
}

.about-content {
    color: #000000;
    letter-spacing: 0px;
}

.about {
    font: normal normal normal 25px/70px AppleSDGothicNeoEB00;
}

.about-title {
    color: #0ac3c8;
    font: normal normal normal 40px/38px AppleSDGothicNeoH00;
}

.about-desc {
    font: normal normal normal 15px/25px AppleSDGothicNeoM00;
}
.about-subtitle {
    font: normal normal normal 25px/38px AppleSDGothicNeoM00;
}
.detail-btn {
    margin: auto;
    width: 170px;
    height: 45px;
    font: normal normal normal 15px/38px AppleSDGothicNeoB00;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000029;
    border: 1px solid #22334d;
    border-radius: 23px;
    color: #22334d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.howTo-box {
    color: #000000;
    margin-top: 220px;
}
.howTo-title {
    font: normal normal normal 40px/38px AppleSDGothicNeoH00;
}
.howTo-desc {
    font: normal normal normal 20px/38px AppleSDGothicNeoM00;
}
.howTo-detail {
    font: normal normal normal 15px/25px AppleSDGothicNeoM00;
}

.slogan-yellow {
    display: flex;
    justify-content: center;
}
.slogan-yellow-box {
    margin: 20px;
    width: 400px;
    height: 500px;
    background-color: #f3f3f3;
    border-radius: 25px;
}

.register-button {
    margin: 0 auto;
    margin-top: 64px;
    background: #22334d 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000029;
    font: normal normal normal 15px/38px AppleSDGothicNeoB00;
    width: 190px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    border-radius: 23px;
    text-align: center;
    letter-spacing: 0px;
}

.adv-content {
    margin: 0 auto;
    width: 70%;
    opacity: 1;
    text-align: left;
    line-height: 1;
    display: flex;
    color: #707070;
    margin-top: 220px;
}

.adv-content > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.first-adv,
.second-adv {
    color: #000000;
    letter-spacing: 0px;
}

.about {
    font: normal normal normal 25px/70px AppleSDGothicNeoEB00;
}

.portfolioEx-title {
    font: normal normal normal 40px/55px AppleSDGothicNeoEB00;
}

.portfolioEx-desc {
    font: normal normal normal 15px/25px AppleSDGothicNeoM00;
}

.portfolio-content {
    margin-top: 134px;
}
.portfolio-nav {
    font: normal normal normal 20px/38px AppleSDGothicNeoB00;
}
.portfolio-list {
    display: flex;
}
.portfolio {
    margin-right: 25px;
    text-align: left;
}
.portfolio-thumbnail {
    width: 500px;
    height: 375px;
    background: #f3f3f3 0% 0% no-repeat padding-box;
    border-radius: 30px;
}
.portfolio-title {
    font: normal normal normal 20px/25px AppleSDGothicNeoB00;
}
.portfolio-username {
    font: normal normal normal 15px/25px AppleSDGothicNeoM00;
}
.portfolio-time {
    font: normal normal normal 15px/25px AppleSDGothicNeoM00;
}
.start-box {
    background-color: #f3f3f3;
    color: #707070;
    margin-bottom: 60px;
    padding: 100px;
    margin-top: 100px;
}
.start-box .description {
    color: #000000;
    margin-bottom: 30px;
    font: normal normal normal 40px/55px AppleSDGothicNeoM00;
}

.start-btn {
    margin: auto;
    left: 785px;
    width: 190px;
    height: 45px;
    background: #01c1c6 0% 0% no-repeat padding-box;
    border-radius: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 15px/38px AppleSDGothicNeoB00;
}

.focus {
    color: #01c1c6;
}
