.myPage-container {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    background-color: #f9f9f9;
    color: #191919;
    min-height: 100vh;
    position: relative;
}
.ProfileBanner-root {
    align-items: center;
    background: transparent linear-gradient(180deg, #79797900 0%, #797979c9 100%) 0% 0% no-repeat padding-box;
    color: #ebebeb;
    display: flex;
    justify-content: center;
}
.Profile-banner {
    height: 210px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.ProfileBanner-promptContainer {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ProfileBanner-prompt {
    position: relative;
    text-align: center;
    z-index: 2;
}
.Profile-root {
    background-color: #ffffff;
    color: #191919;
    min-height: 100vh;
    position: relative;
}
.Profile-wrap {
    max-width: 1338px;
    margin: 0 auto;
    max-width: 1760px;
    min-height: 101vh;
    position: relative;
    align-items: flex-start;
    display: flex;
    padding: 60px 250px 50px 250px;
}
.ProfileCard-root {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    flex-shrink: 0;
    width: 300px;
    padding: 25px 30px 16px;
}
.ProfileCard-root .ProfileCard-header {
    text-align: center;
}
.ProfileCard-root {
    position: relative;
    z-index: 2;
}

.ProfileCard-root .ProfileCard-header {
    text-align: center;
}

.Avatar-container {
    height: 118px;
    width: 118px;
}
.ProfileAddStoryButton-container {
    bottom: 2px;
    cursor: pointer;
    position: absolute;
    right: 7px;
    text-align: center;
    z-index: 3;
}
.AddStoryButton-addStoryIcon {
    border: 2px solid #e9e9e9;
    background: #0ac3c8;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    position: relative;
    width: 24px;
}
.Avatar-container {
    background: #525252 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2px;
    position: relative;
}
.ProfileCard-userFullName {
    display: block;
    font-size: 24px;
    font-weight: 600;
    height: 29px;
    line-height: 1.15;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
    font: normal normal normal 20px/25px AppleSDGothicNeoB00;
}

.ProfileCard-userDetails {
    color: #000000;
    margin: 0 auto;
    font: normal normal normal 15px/25px AppleSDGothicNeoM00;
}
.ProfileCard-userInteractions {
    display: flex;
    flex-direction: column;
}

.ProfileCard-interactionButton .ProfileCard-buttonLabel {
    align-items: initial;
    flex: auto;
    font: normal normal normal 16px/22px AppleSDGothicNeoSB00;
    min-height: 38px;
    padding: 11px 18px 8px;
}
.ProfileCard-interactionButton .ProfileCard-signUpDate {
    font: normal normal normal 12px/25px AppleSDGothicNeoM00;
}
.Profile-profileContents {
    flex: 1;
    margin: 149px 0 30px 30px;
}
.Profile-tabControl .Profile-tab {
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 15px/22px AppleSDGothicNeoSB00;
    letter-spacing: 0px;
    margin: 0 3px;
    position: relative;
}
.Profile-tabControl .Profile-tab .Profile-anchor {
    color: inherit;
    display: block;
    padding: 9px 18px;
    text-decoration: inherit;
}
.Banner-bannerContainer {
    border-radius: 5px;
    background: #525252 0% 0% no-repeat padding-box;
    flex-flow: row nowrap;
    margin-bottom: 20px;
    max-height: 240px;
    min-height: 190px;
    overflow: hidden;
}
.portfolioAddContent-info {
    height: 100%;
    text-align: center;
    color: #5a6576;
}
.portfolioAddContent-card {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.portfolioAddContent-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-bottom: 20px;
}
.CreateModulePrompt-icon {
    align-items: center;
    background: #0ac3c840 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: flex;
    height: 75px;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 75px;
    width: 75px;
}
.portfolioAddContent-card .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background: #f9f9f9 0% 0% no-repeat padding-box;
    border: 0.5px solid #bebebe;
    border-radius: 5px;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.portfolioAddContent-card__item {
    position: relative;
}
.portfolioAddContent-card__item .item__univ {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 20px;
}
.addPortfolio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolioAddContent-card__item .addPortfolio {
    font: normal normal normal 12px/17px AppleSDGothicNeoSB00;
    line-height: 30px;
}
.portfolioAddContent-card__item .addPortfolio-button {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 110px;
    height: 30px;
}
.portfolioAddContent-card__item .paragraph {
    font: normal normal normal 12px/16px AppleSDGothicNeoM00;
}
.portfolioAddContent-icon-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.portfolioAddContent-icon {
    align-items: center;
    background: #0ac3c840 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: flex;
    height: 75px;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 75px;
    width: 75px;
}
