.portfolioRegister * {
    box-sizing: border-box;
}

.portfolioRegister-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 315px;
}

.portfolioRegister-header {
    margin: 123px 0 30px 0;
    height: 48px;
    font: normal normal normal 40px/48px AppleSDGothicNeoB00;
}

.portfolioRegister {
    display: flex;
    justify-content: space-between;
    height: 710px;
    margin-bottom: 30px;
}

.portfolioRegister-add {
    width: 960px;
    height: 100%;
    background-color: #E9E9E940;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolioRegister-add p {
    margin: 0;
}

.portfolioRegister-add p:first-child {
    margin-bottom: 10px;
    font: normal normal normal 30px/25px AppleSDGothicNeoB00;
}

.portfolioRegister-add p:nth-child(2) {
    margin-bottom: 41px;
    color: #8D8D8D;
    font: normal normal normal 15px/25px AppleSDGothicNeoB00;
}

.portfolioRegister-add p:last-child(2) {
    font: normal normal normal 20px/25px AppleSDGothicNeoM00;
}

.portfolioRegister-img {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.portfolioRegister-img button {
    outline: none;
    width: 80px;
    height: 80px;
    color: #ffffff;
    font: normal normal normal 30px/85px AppleSDGothicNeoM00;
    border: none;
    border-radius: 999px;
    background-color: #487498;
    cursor: pointer;
}

.portfolioRegister-options {
    width: 300px;
    height: 100%;
    border: 1px solid #9E9E9E;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.portfolioRegister-options-text,
.portfolioRegister-options-img,
.portfolioRegister-options-video,
.portfolioRegister-options-media {
    width: 100%;
    height: 220px;
    border-bottom: 0.5px solid #9E9E9E;
    padding: 16px 25px;
}

.portfolioRegister-options-header {
    margin: 0;
    margin-bottom: 10px;
    color: #707070;
    font: normal normal normal 20px/25px AppleSDGothicNeoM00;
}

.portfolioRegister-options-img {
    height: 210px;
}

.portfolioRegister-options-video {
    height: 140px;
}

.portfolioRegister-options-media {
    height: 140px;
    border: none;
}

.portfolioRegister-options input[type="text"] {
    outline: none;
    width: 100%;
    height: 30px;
    border: 0.5px solid #D0D0D0;
    border-radius: 5px;
    background-color: #FAFAFA;
    padding-left: 10px;
    margin-bottom: 10px;
}

.portfolioRegister-btn,
.options-btn {
    margin: 0 auto;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    width: 190px;
    height: 45px;
    background: #22334D;
    box-shadow: 0px 2px 5px #00000029;
    border-radius: 999px;
    cursor: pointer;
    outline: none;
    border: none;
    display: block;
}

.options-btn {
    margin: 0;
    width: 80px;
    height: 30px;
    line-height: 30px;
    box-shadow: none;
    float: right;
}