header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header * {
  margin-right: 10px;
}

.nav-bar {
  display: flex;
  font-size: 12px;
  padding: 3rem;
  color: #707070;
}

.logo {
  font-size: 21px;
  color: #FFD448;
}

.search-wrap {
  display: flex;
}

.search-wrap input {
    height: 10px;
}